<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="Normal/base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>This is home Page</title>
  </head>
  <body>
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="font-weight-bold">Hust Airline System</h1>
        <br />
        <p>Chào mừng bạn đến với hãng hàng không Hust Airline</p>
        <p>Chúc bạn có một trải nghiệm tốt khi sừ dụng dịch vụ</p>
      </div>
    </section>
  </body>
</html>
